bin/
build/
data/
junit/
lib/
logs*/
target/
.idea/
*.iml
*~
.*~
local.conf
dependency-reduced-pom.xml
.classpath
.project
.settings
.DS_store
.DS_Store
.reviewboardrc
.idea/*
!runConfigurations
*.log*
